<html>

<head>
    <title>SecureSuite</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/ss_home.css" rel="stylesheet">
</head>

<body>
<script src="/js/cs.js"></script>
<div class="container">
    <br>

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >

            <img src="/img/icon_64.png" style="float:left" />
            <h2> SecureSuite</h2>
            
        </div>
    </div>
    <h3>You Are Now Logged Out</h3>

    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <br>
            <br>
            <p class="lead">We recommend closing your browser once you're through. The information screens will remain in the browser's memory until the browser is closed.</p>
            <br>
            <br>
            <br>
            <a href="javascript:void(0)" onclick="post('login_htm','')">Login again</a>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
        <p>
            &copy;
            <script>
			var d = new Date();
			document.write(d.getFullYear());
		</script>
            Nuvolect LLC -
            <a href="https://nuvolect.com/securesuite_terms/">Terms</a>
            -
            <a href="https://nuvolect.com/privacy/">Privacy</a>
        </p>
    </div>

</div>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
